/* reset css */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

/* header */
#header {
  background-color: #000;
  height: 46px;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
}

/* navigation */
#nav {
  display: inline-block;
}

#nav li {
  display: inline-block;
  position: relative;
}

#nav li a {
  text-decoration: none;
  color: #fff;
  line-height: 46px;
}

#nav > li > a {
  text-transform: uppercase;
  display: inline-block;
  padding: 0 24px;
}

#nav .subnav li:hover a,
#nav > li:hover > a {
  background-color: #ccc;
  color: #000;
}

#nav .subnav {
  display: none;
  position: absolute;
  background-color: #000;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

#nav .subnav li {
  display: block;
}

#nav .subnav a {
  width: 100%;
  display: inline-block;
  padding: 0 16px;
}

#nav li:hover .subnav {
  display: block;
}

#nav .down {
  font-size: 12px;
  color: #fff;
}

/* search */
#search {
  float: right;
}

#search .heading-search {
  display: block;
  line-height: 46px;
  color: #fff;
  font-size: 15px;
  padding: 0 24px;
}

#search:hover {
  background-color: #f44336;
  cursor: pointer;
}

/* slider */
#slider {
  background: url(/assets/img/slider/slider1.jpg) top center / cover no-repeat;
  padding-top: 50%;
  margin-top: 46px;
  position: relative;
}

#slider .text {
  bottom: 0;
  padding: 32px 16px;
  text-align: center;
  color: #fff;
  position: absolute;
  width: 100%;
}

#slider .title {
  margin: 10px 0;
  font-size: 24px;
  font-weight: 500;
}

#slider .decreption {
  margin: 15px 0;
  font-weight: bolder;
  font-size: 15px;
}

/* content */
/* about */
#about,
#tour .tickets {
  margin: 0 16%;
  padding: 64px 16px;
}

#about .title,
#about .decreption,
#tour .title,
#tour .decreption {
  text-align: center;
}

#tour .title,
#about .title {
  margin: 10px 0;
  font-weight: 500;
  letter-spacing: 4px;
  font-size: 30px;
}

#tour .decreption,
#about .decreption {
  margin: 15px 0;
  font-style: italic;
  opacity: 0.6;
}

#about .summary {
  font-size: 15px;
  margin: 15px 0;
  text-align: justify;
  line-height: 1.4;
}

#about .list-item {
  padding: 32px 0;
}

#about .agent {
  float: left;
  text-align: center;
  width: 33.33333%;
}

#about .name {
  font-size: 15px;
  margin: 15px 0;
}

#about .image {
  height: 154px;
  border-radius: 4px;
  margin-bottom: 16px;
}

#about .clear {
  clear: both;
}

/* tour */
#tour {
  background-color: #000;
  color: #fff;
}

#tour .list-tickets {
  background-color: #fff;
  color: #757575;
  list-style-type: none;
  border: 1px solid #ccc;
}

#tour .list-tickets li {
  font-size: 15px;
  border-bottom: 1px solid #ccc;
  padding: 8px 16px;
}

#tour .sold-out {
  text-align: center;
  color: #fff;
  background-color: #f44336;
  margin-left: 16px;
  padding: 0 8px;
}

#tour .quality {
  float: right;
  color: #fff;
  background-color: #000;
  border-radius: 50%;
  padding: 0 8px;
  text-align: center;
}
